Django==4.2.22
djangorestframework
django_celery_results
celery
redis
flower
argostranslate
langdetect
bert-score
keybert
PyMuPDF
pdfminer.six
requests
numpy
scikit-learn
sentence-transformers
torch

  